<footer class="footer  border-top mt-2">
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i> &nbsp;&nbsp;
            <i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;
            <i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;
        </div>
        <div class="com"> &copy;&nbsp;TripNest Private Limited</div>
        <div class="f-links">
            <a href="/privacy">Privacy</a>
            <a href="Terms">Terms</a>
        </div>
    </div>
</footer>