<%- layout("layouts/boilerplate") %>

    <div class="col-7 offset-2">  <br>
        <h3>Add new Listing</h3>
      
    <form method="post" action="/Listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Enter Title" type="text" class="form-control" required>
            <div class="valid-feedback">Looks Good</div>
            <div class="invalid-feedback">Add valid title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
             <input name="listing[description]" placeholder="Enter the description" type="text" class="form-control" required>
             <div class="invalid-feedback">Please enter short description</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
             <input name="listing[image]" type="file" class="form-control" >
        </div>
        <div class="row">
          <div class="mb-3 col-md-4" >
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="Enter price" type="number" class="form-control" required>
            <div class="invalid-feedback">Please enter valid price</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="Enter the Country" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter country name</div>
          </div>
        
        </div>
       
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Enter the Location" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter valid location</div>
        </div>
        <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select name="listing[category]" id="category" class="form-select" required>
        <option value="" disabled selected>-- Select Category --</option>
        <option value="Trending">Trending</option>
        <option value="Room">Room</option>
        <option value="Iconic Cities">Iconic Cities</option>
        <option value="Mountain">Mountain</option>
        <option value="Castles">Castles</option>
        <option value="Amazing Pools">Amazing Pools</option>
        <option value="Camping">Camping</option>
        <option value="Farms">Farms</option>
        <option value="Arctic">Arctic</option>
        <option value="Domes">Domes</option>
        <option value="Boats">Boats</option>
      </select>
      <div class="invalid-feedback">Please select a category</div>
    </div>
         <button class="btn btn-danger">Add</button>
    </form> 
    </div>
   

